<nav class="navbar">
    <div class="logo">
        <a href="/">Ushare</a>
    </div>
    <div class="icons">
        <a href="https://github.com/aweshchoudhary/" _blank><span class="iconify"
                data-icon="akar-icons:github-fill"></span></a>
        <div class="icon" onclick="theme()">
            <span class="iconify" data-icon="fluent:dark-theme-24-regular"></span>
        </div>
    </div>
</nav>