.download-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
    width: 100%;
    padding: 50px;
}

.filename {
    padding: 10px 20px;
    width: 100%;
    border: var(--border);
    margin-top: 20px;
    height: 100px;
    border-radius: 10px;
}

.btn {
    padding: 10px 30px;
    background: var(--primary-color);
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background: var(--hover-color);
}

.download-section .download-card {
    height: 90%;
    border: var(--border);
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.download-section .download-card .top {
    position: sticky;
    top: 0;
    left: 0;
}

.download-section .download-card .bottom a {
    display: block;
}

.download-section .download-card .bottom {
    position: absolute;
    width: auto;
    bottom: 30px;
    left: 20px;
}

.download-section .download-card h1 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 10px;
}

.filesize {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}