.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-bottom: var(--border);
}

.navbar .logo a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-color);
}

.navbar .icons {
    display: flex;
    align-items: center;
    font-size: 40px;
}

.navbar .icons .icon {
    font-size: 45px !important;
    display: flex;
    align-items: center;
}

.navbar .icons a {
    margin-right: 10px;
    display: flex;
    align-items: center;
}



.navbar .icons .iconify {
    cursor: pointer;
}

.navbar .icons .iconify:hover {
    color: var(--primary-color);
}