<section class="upload-section">
    <div class="card">
        <div class="top">
            <h1>upload a file</h1>
            <input type="file" name="myfile" id="file">
            <div class="upload-box">
                <div id="icons"></div>
                <p>Drop your file here or Click to upload file</p>
            </div>
        </div>
        <div class="bottom">
            <div class="progress-box">
                <div class="progress"></div>
                <div class="percent">0%</div>
            </div>
            <div class="link-box">
                <h2>Share Your File Link</h2>
                <div class="link">
                    <input type="text" readonly id="fileUrl">
                    <div class="copy-box">Copy</div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/upload.js"></script>